.container{
	width:300px;
	height:300px;
}

.upperBar{
/*	width: 65%; */
	padding: 10px 10px;
	margin: 0 auto;
/*	float:left; */
/*	display: inline-block; */
}

#textBox{
	width: 60%;
  margin: 0 auto;
/*	display: inline-block; */
}

#bttn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
		padding-left: 20px;
		font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 30%;
    margin:0 auto;
/*		height: 10%; */
}

#list {
	display: block;
	list-style-type: none;
}

.click{
	width: 35%;
  	margin-top:5px;
/*  	margin-left:10px;
*/		float: right;

}
.popup-content{
 	padding-top: 8px;
}

#create{
	width:80px;
	height:20px;
}

.flag {
	border: none;
}
