*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
html, body{
  width: 290px;
  min-height: 400px;
  /*border: 1px solid black;
  */margin:0px auto;
}
.container{
  height: 100%;
  position: relative;
  text-align: center;
}
.top-area{
  height: 19%;
  border-bottom: 1px solid black;
  padding-top: 5px;
  text-align: center;
  background-color: #aeb7b3;
  /*color: white;
*/}
img{
  position: absolute;
  left:15px;
}
.head{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 130%;
  text-align: inherit;
}
.inp{
display: inline-block;
width: 65%;
}
.inp > input{
  margin-top: 6px;
  width: 100%;
}
#btn-submit{
  display: inline-block;
  width: 25%;
  margin-right: 10px;
  float: right;
  cursor: pointer;
  border: 1px solid black;
/*  border-radius: 100%;*/
  padding:3px;
  background-color: #373a36;
  color:white;
  margin-top: 5px;
  text-align: inherit;
  transition: 250ms background ease-in-out ;
}
#btn-submit:hover{
  color: black;
  background-color: #e1efe6;
}
.popup-content{
  background-color: #e1efe6;
  min-height: 81%;/*
  padding: 10px 10px;*/
  z-index: -1;/*
  overflow-y: scroll;*/
}
/*li{
  margin-top: 2px;
  list-style: none;/*
  background-color: white;
  height: 25px;
  padding: 2px 2px 2px 8px;
  border-radius: 5px;
  cursor: pointer;

}
li:hover{
  background-color: white;
}*/
#list {
	display: block
  width: 100%;
/*	list-style-type: none; */
  padding-left: 0;
}

.click{
	width: 35%;
  	margin-top:5px;
/*  	margin-left:10px;
*/		float: right;
}
.flag {
	border: none;
	width: 100%;
	/*height: 2em;
  background: #d1e0e0;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
 /* font-weight: 500;*/
  margin-top: 2px;
  background-color: #e1efe6;
  list-style: none;/*
  background-color: white;*/
  height: 25px;
  padding: 2px 2px 2px 8px;
  border-radius: 5px;
}

.flag:hover
{
  background-image:none;
  background-color:white;
}
button{
  decoration: none;
}

/*
 test 1  d #c9f0ee u #e4ebe5
*/
